<!DOCTYPE html>
<html lang="pt-BR" class="bg-bg">
<head>
  <%- include('../partials/head') %>
</head>
<body class="bg-bg text-text font-sans antialiased min-h-screen flex flex-col">
  <%- include('../partials/navbar') %>
  <main class="flex-1">
    <%- body %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>
