<p>Hi <strong><%= username %></strong>,</p>
<p>We received a request to reset your password. Click below to create a new one.</p>
<p style="text-align:center">
  <a class="btn" href="<%= link %>">Reset Password</a>
</p>
<p style="font-size:13px;color:#9ca3af">Or copy this link:<br><%= link %></p>
<hr class="hr">
<p style="font-size:13px;color:#6b7280">This link expires in <strong>1 hour</strong>. If you didn't request this, ignore this email.</p>
